@import url('https://fonts.googleapis.com/css2?family=Iansui&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme {
    --color-earthy-green: #a3a380;
    --color-warm-green: #d6ce93;
    --color-beige: #efebce;
    --color-rosy-red: #d8a48f;
    --color-rosy-purple: #bb8588;
    --font-english: "Poppins", sans-serif;
    --font-chinese: "Iansui", serif;
}
@layer components {
    .link {
        @apply underline
    }
    .btnPrimary {
        @apply px-4 py-2 bg-earthy-green text-beige rounded cursor-pointer
    }
    .btnPrimary:hover {
        @apply bg-rosy-red shadow-xl
    }
    .btnPrimary:active {
        @apply bg-rosy-purple
    }
    .btnSecondary {
        @apply px-4 py-2 border border-earthy-green rounded cursor-pointer
    }
    .btnSecondary:hover {
        @apply shadow-xl
    }
    .btnSecondary:active {
        @apply bg-rosy-purple
    }

}

@layer base {
    * {
        box-sizing: border-box;
    }
}

#textareaInput {
    padding: 16px;
}